
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<table>
    <tr>
        <td>EmpId</td>
        <td>
            @ViewBag.EmpId
        </td>
    </tr>
    <tr>
        <td>EmpName</td>
        <td>
            @ViewBag.EmpName
        </td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>
            @ViewBag.Salary
        </td>
    </tr>
    <tr>
        <td>Department</td>
        <td>
            @ViewBag.Department
        </td>
    </tr>
   
    
     <tr>
        <td>Gender</td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>
</table>



